<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Movie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/pages/movieDetails.css">
</head>

<body>
    <!-- Navbar -->
    <script src="/layout/navbar.js"></script>

    <span id="message" hidden>Not Found Movie!</span>
    <main id="main">
        <div id="filmDiv">
            <h1></h1>
            <h2>Directed By:</h2>
            <p>Description:</p>
            <section id="actors-section">
                <span>Actors</span>
                <p></p>
            </section>
            <button id="deletebtn">Delete</button>

        </div>


        <div id="likesBox">
            <button>Like</button>
            <span>thies movie has _ likes</span>
        </div>
        <section id="comments">

            <h2>Comments</h2>
            <label for="">Write a comment:</label>
            <div>
                <input type="text" placeholder="content" name="content" id="content">
                <button id="commentSubmit">submit</button>
            </div>
            <ul id="commentList">
            </ul>
        </section>



    </main>
    <script src="/layout/footer.js"></script>



    <script>
        const movieId = window.location.pathname.split('/').at(-1)
        const message = document.getElementById("message")
        const main = document.querySelector("main")
        const deleteBtn = document.getElementById("deletebtn")
        const filmDiv = document.getElementById("filmDiv")
        const commentList = document.getElementById("commentList")
        const commentSubmit = document.getElementById("commentSubmit")
        const likesBox = document.getElementById("likesBox")


        // First Page Opened
        getMovie()

        async function getMovie() {
            const res = await fetch("/api/movies/" + movieId)
            if (!res.ok) {
                message.removeAttribute("hidden")
                main.setAttribute("hidden", true)
                deleteBtn.setAttribute("hidden", true)
                return
            }
            const { data, user } = await res.json()
            filmDiv.innerHTML = `
            <h1>${data.title}</h1>
            <h2>Directed By:${data.director}</h2>
            <p>Description:${data.description}</p>
            <span>Genre: ${data.genre}</span>
            <section id="actorSection">
                Actors:
                <ul id='actorList'></ul>
            </section>
            
            <div>
                <button id="deletebtn">Delete</button>
                <a href="/movies/${movieId}/actors" class="button" >Manage Actors</a>
                <a href="/movies/update/${movieId}"  class="button" >Update Movie!</a>
                
            </div>
            `
            const actors = JSON.parse(data.actors_list)
            const list = document.getElementById("actorList")
            actors?.forEach(el => { list.innerHTML += `<li> <a href="/actors/${el.id}"> ${el.name}</a> from ${el.country}  </li>` });

            renderComments(JSON.parse(data.comments), user)
        }



        // Delete Movie
        deleteBtn.addEventListener("click", onDelete)

        async function onDelete() {
            const res = await fetch(`/api/movies/${movieId}`, { method: "DELETE" })
            if (res.ok) window.location.href = "/movies"
        }


        // Comment Parts
        commentSubmit.addEventListener("click", onAddComment)

        // Rendering Comments Trigger
        function renderComments(comments, user) {
            comments?.forEach(el => {
                if (!el.username) return
                if (el.user_id === user.id)
                    return commentList.innerHTML += `<li>you said "${el.content}" <button onclick="onDeleteComment(${el.id})">Delete</button> </li>`
                commentList.innerHTML += `<li>${el.username} says "${el.content}"</li>`
            })
        }



        // Add Comment
        async function onAddComment() {
            const content = document.getElementById("content").value
            if (!content) return
            const res = await fetch(`/api/movies/comments/${movieId}`, {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ content })
            })
            if (!res.ok) return
            const { data, user } = await res.json()
            renderComments([data], user)
        }

        // Delete Comment
        async function onDeleteComment(id) {
            const res = await fetch(`/api/movies/comments/${id}`, { method: "DELETE" })
            if (res.ok) window.location.reload()
        }


        // GET LIKES
        getLikes()
        async function getLikes() {
            const res = await fetch(`/api/movies/${movieId}/likes`)
            const { likes, isLiked } = await res.json()
            if (isLiked) return likesBox.innerHTML = `<button onclick="deleteLike()">Unlike</button> <span>the movie has ${likes.length} like(s) </span>`

            likesBox.innerHTML = `<button onclick="addLike()">Like</button> <span>${likes.length} people has liked this movie</span>`
        }

        // ADD LIKE
        async function addLike() {
            const res = await fetch(`/api/movies/${movieId}/likes`, { method: "POST" })
            const json = await res.json()
            getLikes()
        }

        // REMOVE LIKE
        async function deleteLike() {
            const res = await fetch(`/api/movies/${movieId}/likes`, { method: "DELETE" })
            const json = await res.json()
            getLikes()
        }



    </script>


</body>

</html>