<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie</title>
</head>

<body>
    <span id="message" hidden>Not Found Movie!</span>
    <main>
        <div id="main">

            <h1></h1>
            <h2>Directed By:</h2>
            <p>Description:</p>
            <section>
                <span>Actors</span>
                <p>

                </p>
            </section>
        </div>
        <button id="deletebtn">Delete</button>

        <section>
            <h2>Comments</h2>
            <ul id="commentList">
            </ul>
        </section>
    </main>



    <script>
        const movieId = window.location.pathname.split('/').at(-1)
        const message = document.getElementById("message")
        const main = document.getElementById("main")
        const deleteBtn = document.getElementById("deletebtn")

        async function getMovie() {
            const res = await fetch("/api/movies/" + movieId)
            if (!res.ok) {
                message.removeAttribute("hidden")
                main.setAttribute("hidden", true)
                deleteBtn.setAttribute("hidden", true)
                return
            }
            const { data, user } = await res.json()
            main.innerHTML = `
            <h1>${data.title}</h1>
            <h2>Directed By:${data.director}</h2>
            <p>Description:${data.description}</p>
            <span>Genre: ${data.genre}</span>
            <section>
                Actors:
                <ul id='list'></ul>
            </section>
            <a href="/movies/${movieId}/actors" >Manage Actors</a>
            <a href="/movies/update/${movieId}">Update Movie!</a>
            `
            const actors = JSON.parse(data.actors_list)
            const list = document.getElementById("list")
            actors.forEach(el => { list.innerHTML += `<li>${el.name} from ${el.country} </li>` });
            const comments = JSON.parse(data.comments)
            const commentList = document.getElementById("commentList")
            comments.forEach(el => {
                if (el.username === user.username) return commentList.innerHTML += `<li>you said "${el.content}" </li>`

                commentList.innerHTML += `<li>${el.username} says "${el.content}"</li>`
            })
        }

        getMovie()



        async function onDelete() {
            const res = await fetch(`/api/movies/${movieId}`, { method: "DELETE" })
            if (res.ok) window.location.href = "/movies"
        }


        deleteBtn.addEventListener("click", onDelete)


    </script>


</body>

</html>