<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <h1>Welcome!</h1>
    <form id="searchForm">
        <label for="searchInput">Search:</label>
        <input type="text" id="searchInput" placeholder="search by title, director, year">
        <button>Submit</button>
        <button hidden type="reset" id="resetBtn">reset</button>
    </form>
    <main>
        <span>
            to add new new movie
            <a href="/movies/new">click here</a>
        </span>
        <table border="1" style="border-collapse: collapse;">
            <thead>
                <th>id</th>
                <th>title</th>
                <th>director</th>
                <th>release year</th>
                <th>link</th>
            </thead>
            <tbody id="moviesList">
            </tbody>
        </table>

    </main>




    <script>
        const moviesList = document.getElementById("moviesList")
        const searchForm = document.getElementById("searchForm")
        const resetBtn = document.getElementById("resetBtn")




        // SEARCH FUNCTIONALITY
        searchForm.addEventListener("submit", onSubmit)
        resetBtn.addEventListener("click", onReset)


        async function onSubmit(e) {
            e.preventDefault()
            const searchInput = document.getElementById("searchInput").value
            resetBtn.removeAttribute("hidden")
            getMovies(`/api/movies/search?value=${searchInput}`)
        }
        function onReset() {
            resetBtn.setAttribute("hidden", true)
            getMovies()
        }

        //      =====================================================

        async function getMovies(url = "/api/movies") {
            const res = await fetch(url);
            const { data } = await res.json();
            moviesList.innerHTML = ""
            data?.forEach(el => {
                moviesList.innerHTML += `<tr>
                    <td>${el.id}</td>
                    <td>${el.title}</td>
                    <td>${el.director}</td>
                    <td>${el.release_year}</td>
                    <td><a href="/movies/${el.id}">Open</a></td>
                    </tr>`;
            });
        }
        getMovies()
    </script>
</body>

</html>