<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/pages/movies.css">

</head>


<body>
    <!-- Navbar -->
    <script src="/layout/navbar.js"></script>


    <main>

        <h1>Movies!</h1>
        <form id="searchForm">
            <div id="searchInputContainer">
                <input type="text" id="searchInput"
                    placeholder="  Search for movies by title, director, year and actor name">
                <div id="searchButtons">
                    <button hidden type="reset" id="resetBtn">reset</button>
                    <button>Submit</button>
                </div>
            </div>
        </form>
        <div class="listContainer">
            <ul id="moviesList">
            </ul>
        </div>



    </main>
    <!-- Footer -->
    <script src="./layout/footer.js"></script>


    <!-- Scripts -->
    <script>
        const moviesList = document.getElementById("moviesList")
        const searchForm = document.getElementById("searchForm")
        const resetBtn = document.getElementById("resetBtn")
        const table = document.querySelector("table")




        // SEARCH FUNCTIONALITY
        searchForm.addEventListener("submit", onSubmit)
        resetBtn.addEventListener("click", onReset)


        async function onSubmit(e) {
            e.preventDefault()
            const searchInput = document.getElementById("searchInput").value
            resetBtn.removeAttribute("hidden")
            getMovies(`/api/movies/search?value=${searchInput}`)
        }
        function onReset() {
            resetBtn.setAttribute("hidden", true)
            getMovies()
        }

        //      =====================================================
        getMovies()
        async function getMovies(url = "/api/movies") {
            const res = await fetch(url);
            const { data } = await res.json();
            if (data.length === 0) {
                moviesList.innerHTML = "<span>Sorry, movie not found ):</span>"
                return
            }
            moviesList.innerHTML = ""
            data?.forEach(el => {
                moviesList.innerHTML +=
                    `<li id='movieItem'>
                    <a href="/movies/${el.id}">${el.title}</a> </br> <small>directed by ${el.director} <br> <b> in ${el.release_year} </b></small>  
                    </li>`
            });
        }
    </script>
</body>

</html>