.navlinks {
	display: flex;
	list-style-type: none;
	display: flex;

	height: 100%;
}

.navlinks > li {
	display: flex;
	align-items: center;
	transition: all ease-in-out 100ms;
	padding-inline: 1rem;
}
.navlinks > li:hover {
	background-color: rgb(205, 206, 206);
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 100%;
	overflow: hidden;
	height: 3rem;
	padding-inline: 20px;
	background-color: #333;
	box-shadow: black 2rem inset;
	box-shadow: 0px 8px 10px #88888897;
}

.navlink {
	color: white;
	cursor: pointer;
}
.navlink:hover {
	color: rgb(50, 50, 50);
}
